#username_check.hide {
    visibility: hidden;
}

#username_check.un_closed {
    color: #f60505 !important
}

#username_check.un_open {
    color: #038603 !important
}

#username_check.hide {
    visibility: hidden;
}

#pw_check.hide {
    visibility: hidden;
}