.show_spinner {
    visibility: visible;
}

.hide_spinner {
    visibility: hidden;
}

#fgt_pw_mdl.hide {
    display: none;
}

#pulse_anim.hide_pulse_anim {
    visibility: hidden;
}

.theme_select.active {
    color: rgb(57, 57, 247);
}

.theme_select.active path {
    stroke: rgb(57, 57, 247);
}

.quill {
    height: 100% !important;
    display: grid;
    grid-template-rows: auto 1fr;
}