#iss_dtl_desc h1,
#cmt_bdy h1 {
    font-size: 29px;
}

#iss_dtl_desc h2,
#cmt_bdy h2 {
    font-size: 25px;
}

#iss_dtl_desc h3,
#cmt_bdy h3 {
    font-size: 22px;
}

#iss_dtl_desc h4,
#cmt_bdy h4 {
    font-size: 19px;
}

#iss_dtl_desc h5,
#cmt_bdy h5 {
    font-size: 17px;
}

#iss_dtl_desc h6,
#cmt_bdy h6 {
    font-size: 16px;
}

#iss_dtl_desc p,
#cmt_bdy p {
    font-size: 15px;
}

#iss_dtl_desc pre,
#cmt_bdy pre {
    font-size: 18px;
    background-color: rgb(9, 1, 49);
    color: aquamarine;
    padding: 20px;
    text-wrap: wrap;
    max-width: 100%;
    overflow-x: auto;
}

.tw-dark #iss_dtl_desc pre,
.tw-dark #cmt_bdy pre {
    font-size: 18px;
    background-color: rgb(4, 0, 21);
    color: rgb(127, 223, 255);
    padding: 20px;
    text-wrap: wrap;
    max-width: 100%;
    overflow-x: auto;
}

#iss_dtl_desc ol,
#cmt_bdy ol {
    font-size: 18px;
    list-style: decimal !important;
    margin-inline: 10px;
}

#iss_dtl_desc a,
#cmt_bdy a {
    font-size: 18px;
    color: blue;
}