.pw-err {
    color: #f60b0b;
}

.pw-ok {
    color: #039d03;
}

.show_spinner {
    visibility: visible;
}

.hide_spinner {
    visibility: hidden;
}


#pw_prev {
    display: block;
    visibility: visible;
}

#pw_prev.hide {
    visibility: hidden;
}

#confirm_pw_prev {
    display: block;
    visibility: visible;
}

#confirm_pw_prev.hide {
    visibility: hidden;
}