#left_pane_btn_wrapper.active {

    border-bottom: 2px solid rgb(60, 60, 255);
    border-top: 2px solid rgb(60, 60, 255);
    border-left: 2px solid rgb(60, 60, 255);


}

#left_pane_btn_wrapper.active button {

    border-left: 2px solid rgb(60, 60, 255);
}